<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <title>Car detection</title>
  </head>
  <body class="body">
  <h1 align="center">Car detection program</h1>
   <div class="container" align="center">
		<a href="/open"><button class='btn btn-info btn-lg'>Open file</button></a>
		<a href="/process"><button class='btn btn-success btn-lg'>Process</button></a>
   </div>
   <br>
   <div class="container" align="center">
   <img src="static/demo.png" height="360" width="640">
   <h4> created by Volodymyr Rykhva</h4>
   <a href="https://github.com/ascentman/" target="_blank">https://github.com/ascentman</a>
   <h5> Lviv 2017</h5>
   </div>
</body>
</html>